body {
    background-image: url('/images/background.jpg');
    font-family: 'Agency FB', sans-serif;;
    color: white;
}
.url-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
